.list {
  display: flex;
  position: relative;
  margin: 0 0 0 5px;
  overflow-x: auto;
  /* padding: 0 20px; */
  scroll-snap-type: x mandatory;
}

@media screen and (min-width: 900px) {
  .list {
    flex-wrap: wrap;
  }
}
